/* Declarando as camadas e a ordem de prioridade */
@layer reset, base, components;

/* Mesmo que o "reset" venha depois no arquivo, ele é o mais fraco */
@layer components {
  h1 {
    color: red;
    font-size: 2rem;
  }
}

@layer base {
  h1 {
    color: blue;
    font-size: 1.5rem;
  }
}

@layer reset {
  h1 {
    color: green;
  }
}